snippet beg "Begin block"
Begin $1

$0

End
endsnippet

snippet let "let thing"
let $1 := $0
endsnippet

snippet play "PlayerREF"
PlayerREF
endsnippet

snippet arr "array var"
array_var a$1
endsnippet

snippet ref "ref var"
ref r$1
endsnippet

snippet float "float var"
float f$1
endsnippet

snippet str "string var"
string_var s$1
endsnippet

snippet int "int var"
int i$1
endsnippet

snippet while "while loop"
While $1
	$0
Loop
endsnippet

snippet if "if block"
If $1
	$0
EndIf
endsnippet
