snippet table "Table Center"
\begin{center}
	\begin{tabular}{ $1 }
		\hline
		$0
	\end{tabular}
\end{center}
endsnippet

snippet verb "Create verb"
\verb|$1|
endsnippet

snippet beg "Create begin block"
\begin{$1}
	$0
\end{$1}
endsnippet

snippet emph "Emphasis"
\emph{$1}
endsnippet

snippet sec "Section"
\section{$1}
endsnippet

snippet ssec "Sub-Section"
\subsection{$1}
endsnippet

snippet sssec "Sub-Sub-Section"
\subsubsection{$1}
endsnippet
